.edit-menu
  .edit-menu-title
    padding-right 10px
    height 40px
    line-height 40px
    transition color 0.2s ease-in-out,background-color 0.2s ease-in-out
    &:hover
      $themeColor()
      $activeBgColor()