// 布局
.flex-row
  display flex
  flex-flow row nowrap
.flex-column
  display flex
  flex-flow column nowrap
.flex-start
  justify-content flex-start
  align-items flex-start
.flex-start-center
  justify-content flex-start
  align-items center
.flex-start-stretch
  justify-content flex-start
  align-items stretch
.flex-end
  justify-content flex-end
  align-items flex-end
.flex-end-center
  justify-content flex-end
  align-items center
.flex-end-stretch
  justify-content flex-end
  align-items stretch
.flex-center
  justify-content center
  align-items center
.flex-between-start
  justify-content space-between
  align-items flex-start
.flex-between-end
  justify-content space-between
  align-items flex-end
.flex-between-center
  justify-content space-between
  align-items center
.flex-between-stretch
  justify-content space-between
  align-items stretch
.flex-center-start
  justify-content center
  align-items flex-start
.flex-center-end
  justify-content center
  align-items flex-end
.flex-center-stretch
  justify-content center
  align-items stretch
.flex-center-baseline
  justify-content center
  align-items baseline
.flex-around-start
  justify-content space-around
  align-items flex-start
.flex-around-end
  justify-content space-around
  align-items flex-end
.flex-around-center
  justify-content space-around
  align-items center
.flex-1
  flex 1
// 鼠标
.pointer
  cursor pointer
.not-select
  user-select none
// 容器
.height-full
  height 100%
.width-full
  width 100%