// 布局
.flex-row
  display flex
  flex-flow row nowrap
.flex-column
  display flex
  flex-flow column nowrap
.flex-start
  justify-content flex-start
  align-items flex-start
.flex-start-center
  justify-content flex-start
  align-items center
.flex-start-stretch
  justify-content flex-start
  align-items stretch
.flex-end
  justify-content flex-end
  align-items flex-end
.flex-end-center
  justify-content flex-end
  align-items center
.flex-end-stretch
  justify-content flex-end
  align-items stretch
.flex-center
  justify-content center
  align-items center
.flex-between-start
  justify-content space-between
  align-items flex-start
.flex-between-end
  justify-content space-between
  align-items flex-end
.flex-between-center
  justify-content space-between
  align-items center
.flex-between-stretch
  justify-content space-between
  align-items stretch
.flex-center-start
  justify-content center
  align-items flex-start
.flex-center-end
  justify-content center
  align-items flex-end
.flex-center-stretch
  justify-content center
  align-items stretch
.flex-center-baseline
  justify-content center
  align-items baseline
.flex-around-start
  justify-content space-around
  align-items flex-start
.flex-around-end
  justify-content space-around
  align-items flex-end
.flex-around-center
  justify-content space-around
  align-items center
.flex-1
  flex 1
.vertical-middle
  vertical-align middle
// 背景色
.bg-color-f
  background-color #ffffff
// 鼠标
.pointer
  cursor pointer
.not-select
  user-select none
// 容器
.height-full
  height 100%
.width-full
  width 100%
// 边距
.margin-left-4
  margin-left 4px
// 字体
.weight-bold
  font-weight bold
.init-color
  $color()
// 其他
.text-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
// scrollbar
::-webkit-scrollbar
  width 8px
  height 8px
::-webkit-scrollbar-thumb
  border-radius 10px
  background #cccccc
::-webkit-scrollbar-track
  background #fff
// initial
.no-ul
  list-style none
  margin-top 0
  margin-bottom 0
  padding-left 0
// special
.up-down
  position relative
  width 20px
  transition transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
  &.active
    transform translateY(-2px)
    &:before
      transform rotate(45deg) translate(6px, -2px)
    &:after
      transform rotate(-45deg) translate(-2px, 2px)
  &:after, &:before
    content ''
    position absolute
    vertical-align baseline
    background #fff
    background-image linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65))
    width 10px
    height 2px
    border-radius 5px
    transition background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
  &:before
    transform rotate(-45deg) translate(3px, 4px)
  &:after
    transform rotate(45deg) translate(0px, 1px)
