
.ant-menu.ant-menu-green, .ant-menu-green .ant-menu-sub
  color rgba(255, 255, 255, 0.65)
  background #08a678
.ant-menu.ant-menu-green .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-green .ant-menu-item-selected
  background #08a678
.ant-menu-dark .ant-menu-inline.ant-menu-sub
  background #08a678
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after
  background #08a678
