.ant-layout-sider.ant-layout-sider-green
  background #009688
.ant-menu-green.ant-menu
  &.ant-menu-vertical
    .ant-tooltip-open
    .ant-menu-submenu.ant-menu-submenu-vertical
      &.ant-menu-submenu-open.ant-menu-submenu-active
      &.ant-menu-submenu-selected
          background-color #7fcac3
        .ant-menu-submenu-title
          background-color #7fcac3
          color #08a678
  .ant-menu-submenu-title:hover
    color #ffffff
    background-color #048e81
  .ant-menu-item.ant-menu-item-active
    background-color #7fcac3
  .ant-menu-inline.ant-menu-sub
    background #008678
  &, .ant-menu-sub
    color rgba(255, 255, 255, 1)
  &, &.ant-menu-sub, &.ant-menu-submenu-popup .ant-menu-item-selected
    background #009688
  .ant-menu-item-selected
    background-color #7fcac3
  &, &.ant-menu-inline .ant-menu-item, &.ant-menu-inline .ant-menu-submenu-title
    width 100%
  &.ant-menu-inline .ant-menu-item, &.ant-menu-vertical-left .ant-menu-item, &.ant-menu-vertical-right .ant-menu-item
    border-right 0
    margin-left 0
    left 0
  &.ant-menu-inline, &.ant-menu-vertical, &.ant-menu-vertical-left, &.ant-menu-vertical-right, &.ant-menu-inline .ant-menu-item:after, &.ant-menu-vertical .ant-menu-item:after, &.ant-menu-vertical-left .ant-menu-item:after, &.ant-menu-vertical-right .ant-menu-item:after
    border-right 0
  .ant-menu-item-selected:after
    border-right 0
  .ant-menu-submenu-title
    &:hover
      .ant-menu-submenu-arrow
        &:before, &:after
          background #ffffff
    .ant-menu-submenu-arrow
      &:before, &:after
        background #ffffff